mixin header(header = {})
    ul.menu 
        li.menu__item 
            a(href="/") HOME 
        li.menu__item
            a(href="/page1") PAGE1 
        li.menu__item
            a(href="/page2") PAGE2     