mixin header(header = {})
    ul.menu 
        li.menu__item 
            a(href="/") HOME 
        li.menu__item
            a(href="/user/login") LOGIN 
        li.menu__item
            a(href="/user/joinus") JOINUS       