mixin header (header = {})
    header.header 
        div.header__menu
            ul
                li 
                    a(href="/user/login") LOGIN
                li
                    a(href="/user/join") JOIN 
                        
        